# don't track git and idea files
.git
**/.gitignore
**/.gitkeep
.idea

# config files should not be inside the container
*.compose.yml
Dockerfile

# local directories that would only bloat the final image
data
experiments